body {
	font-size: 12px;
}
.favorite-blogs-widget .blog-control li {
	font-size: 12px;
}
.favorite-blogs-widget .blog-link {
	font-size: 100%;
}
.ui-tabs-nav li, ul.tabs li {
	font-size: 14px;
}
#footer {
	font-size: 12px;
}
#system-wide-menu {
	font-size: 14px;
}
#system-wide-menu .sub-menu {
	font-size: 12px;
}
